
<div id="assignmentModal" class="modal" tabindex="-1" th:fragment="container" style="width: 100%; margin-top: 2px">

    <div class="modal-dialog" id="modalD" style="margin-top: 0px">

        <div class="modal-content" id="modalContent" >
            <div class="modal-header" id="modalHeader">
                <h4 class="modal-title" th:text="#{ASSIGNMENT}"></h4>
                <span class="close" th:onclick="'closeAssignment()'">&times;</span>
            </div>
            <div class="modal-body" style="height: 500px;overflow-y: auto;">
                <form id="inputForm" th:action="@{/admin/assignments}" class="mr-0" method="post" th:object="${assignmentOnChange}" >
                    <div class="col-md-8">
                        <ul  class="list-unstyled" style="width: 230px">

                            <input class="mr-20" id="assignmentId" th:name="id" th:field="*{id}" hidden="true" readonly>

                            <li th:replace="fragments/fields::inputField(name, assignment,text, 'ASSIGNMENT')"></li>
                            <li th:replace="fragments/fields::inputField(country, assignmentCountry,text, 'USER.COUNTRY')"></li>
                            <li th:replace="fragments/fields::inputField(city, assignmentCity,text, 'USER.CITY')"></li>
                            <li th:replace="fragments/fields::inputField(begin, assignmentBegin,date, 'REPORT.BEGIN')"></li>
                            <li th:replace="fragments/fields::inputField(end, assignmentEnd,date, 'REPORT.END')"></li>
                            <label class=" mb-0" th:text="#{CHOOSE.USER}"></label>

                            <select th:name="selectedUser" id="selectedUser" width="200px" required >
                                <option value="" disabled>Select user</option>
                                <option th:each="user : ${users}" th:value="${user.id}"  th:text="${user.fullName()}"></option>
                            </select>

                            <div id="userList">
                            </div>
                            <a href="#" id="addUserBtn" onclick="addUser()" th:text="#{ADD.USER}"></a>

                            <input type="hidden" th:name="selectedUserIds" id="selectedUserIds" value="" />
                            <li th:replace="fragments/fields::inputDescriptionField(description, assignmentDescription, 'REPORT.DESCRIPTION')"></li>
                        </ul>

                        <button  id="saveButton" ><h3 th:text="#{REPORT.SAVE}"></h3></button>


                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
