<div id="rejectModal" class="modal" tabindex="-1" th:fragment="reject">

    <div class="modal-dialog" id="modalD">

        <!-- Modal content-->
        <div class="modal-content" id="modalContent">
            <div class="modal-header" id="modalHeader">
                <h4 class="modal-title" style="color: white" th:text="#{REQUEST.REJECT}"></h4>
                <span class="close" th:onclick="'closeReject()'">&times;</span>
            </div>
            <div class="modal-body">
                <form id="inputForm" th:action="action" class="mr-0" method="post" >
                    <div class="col-md-6">
                        <ul  class="list-unstyled" >
                             <li class="mt-1">
                                <label class="mb-0" th:text="#{COMMENT}"></label>
                                <textarea  id="comment" th:name="comment"  style="width: 203px; height: 60px" required></textarea>
                            </li>
                        </ul>

                        <button  id="saveButton"   ><h3 th:text="#{CONFIRM}"></h3></button>


                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
