<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/styles/reportPopUp.css}" rel="stylesheet" />


</script>
<head>

</head>
<body>
<div id="myModal" class="modal" tabindex="-1" th:fragment="container(reportOnChange)">

    <div class="modal-dialog" style="top: 100px">

        <!-- Modal content-->
        <div class="modal-content" style="width: 285px">
            <div class="modal-header" style="background-color: black">
                <h4 class="modal-title" style="color: white" th:text="#{REPORT}"></h4>
                <span class="close" th:onclick="'closeModal()'">&times;</span>
            </div>
            <div class="modal-body">
                <form id="inputForm" th:action="action" class="mr-0" method="post" th:object="${reportOnChange}" style="justify-content: center">
                    <div class="col-md-6">
                        <ul  class="list-unstyled" >

                            <input class="mr-20" id="sId" th:name="id" th:field="*{id}" hidden="true" readonly>


                            <li style="height: 60px">
                                <label class="mb-0" th:text="#{REPORT.DATE}" ></label>
                                <input class="mr-20" type="date" id="date" th:name="name" th:field="*{workDay}" style="width: 203px" required>

                            </li>
                            <li style="height: 60px" class="mt-1" >
                                <label class=" mb-0" th:text="#{REPORT.BEGIN}"></label>
                                <input  class="ml-20" id="begi" type="time" th:name="begin" th:field="*{begin}" style="width: 203px" required>

                            </li>
                            <li style="height: 60px" class="mt-1">
                                <label class=" mb-0" th:text="#{REPORT.END}"></label>
                                <input class="ml-20" id="end" type="time" th:name="end" th:field="*{end}" style="width: 203px" required>

                            </li>
                            <li style="height: 60px" class="mt-1">
                                <label class="mb-0" th:text="#{REPORT.PAUSE}"></label>

                                <input class="mr-20" id="pause" type="time" th:name="pause" th:field="*{pause}" style="width: 203px" required>


                            </li>
                            <li class="mt-1">

                                <label class="mb-0" th:text="#{REPORT.DESCRIPTION}"></label>

                                <textarea  id="description" th:name="description" th:field="*{description}" style="width: 203px; height: 60px" required />

                            </li>
                        </ul>

                        <button  id="saveButton"  style="width: 200px; height: 50px; background-color: black; color: white;" ><h3 th:text="#{REPORT.SAVE}"></h3></button>


                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

</body>



</html>