
<div id="myModal" class="modal" tabindex="-1" th:fragment="container">

    <div class="modal-dialog" id="modalD">

        <div class="modal-content" id="modalContent" >
            <div class="modal-header" id="modalHeader">
                <h4 class="modal-title" th:text="#{REPORT}"></h4>
                <span class="close" th:onclick="'closeModal()'">&times;</span>
            </div>
            <div class="modal-body">
                <form id="inputForm" th:action="@{/report}" class="mr-0" method="post" th:object="${reportOnChange}" >
                    <div class="col-md-6">
                        <ul  class="list-unstyled" >

                            <input class="mr-20" id="sId" th:name="id" th:field="*{id}" hidden="true" readonly>

                            <li th:replace="fragments/fields::inputField(workDay, date,date, 'REPORT.DATE')"></li>
                            <li th:replace="fragments/fields::inputField(begin, begi,time, 'REPORT.BEGIN')"></li>
                            <li th:replace="fragments/fields::inputField(end, end,time, 'REPORT.END')"></li>
                            <li th:replace="fragments/fields::inputField(pause, pause,time, 'REPORT.PAUSE')"></li>
                            <li style="height: 60px" class="mt-1">
                                <label class=" mb-0" th:text="#{TASK}"></label>
                                <select class="form-control" id="taskReport" name="taskReport" th:field="*{task.id}" style="width: 203px" >
                                    <option value="" th:text="#{CHOOSE}" disabled ></option>
                                    <option th:each="task : ${tasks}" th:value="${task.id}" th:text="${task.name}"></option>
                                </select>

                            </li>
                            <li th:replace="fragments/fields::inputDescriptionField(description, description, 'REPORT.DESCRIPTION')"></li>
                        </ul>

                        <button  id="saveButton" ><h3 th:text="#{REPORT.SAVE}"></h3></button>


                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
