<div id="sickLeaveModal" class="modal" tabindex="-1" th:fragment="container(sickleave)">

    <div class="modal-dialog" id="modalD">

        <!-- Modal content-->
        <div class="modal-content" id="modalContent">
            <div class="modal-header" id="modalHeader" >
                <h4 class="modal-title" th:text="#{USER.SICKLEAVE}"></h4>
                <span class="close" th:onclick="'closeSickLeaveModal()'">&times;</span>
            </div>
            <div class="modal-body">
                <form id="inputForm" th:action="@{/sickleaves}" class="mr-0" method="post" th:object="${sickleave}" >
                    <span class="badge badge-info" style="width: 100%" th:field="${left}" id="leftSL" th:text="#{SICKLEAVE.DAYS.LEFT} + ': '+ ${left}"></span>
                    <div class="col-md-6" style="width: 100%">
                        <ul  class="list-unstyled" style="width: 100%" >

                            <input class="mr-20" id="sId" th:name="id" th:field="*{id}" hidden="true" readonly>

                            <li th:replace="fragments/fields::inputField(begin, sickleaveBegin,date, 'VACATION.BEGIN')"></li>

                            <li th:replace="fragments/fields::inputField(end, sickleaveEnd,date, 'VACATION.END')"></li>
                            <li th:replace="fragments/fields::inputDescriptionField(description, sickleaveDescription, 'REPORT.DESCRIPTION')"></li>
                            <li th:replace="fragments/fields::checkBoxField(sickLeaveAtOwn)"></li>

                            <h7 id = "badDateSL" style="display: block; width: 209px; color: red;"> </h7> <br><br>
                            <button  id="saveButton"   th:data-longDescription = "#{BADDATE}" th:data-description = "#{DAYS.LIMIT}" onclick="return checkDates(this.getAttribute('data-longDescription'), this.getAttribute('data-description'),'sickleaveBegin','sickleaveEnd','sickLeaveAtOwn', 'badDateSL','leftSL')"><h3 th:text="#{REPORT.SAVE}"></h3></button>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
