<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width: 100%;
    min-height: 100%;">

<link th:href="@{/styles/modal.css}" rel="stylesheet" />


<head th:replace="fragments/header" th:object="${current}">
    <meta charset="UTF-8">
    <title>Expenses</title>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>


<body style="background-color: transparent">
</div>

<div id="content2" style="margin-left: 140px;overflow: auto; margin-top: 10px">

    <link th:href="@{/styles/report.css}" rel="stylesheet" />

    <div class="mt-2" style="display: flex;
  justify-content: right ; margin-right: 300px">

        <button class="button-34" role="button" id="mbtn">
            <i class="fas fa-plus-circle"></i>
            <span th:text="#{EXPENSE.NEW}"></span>
        </button>
        <div th:replace="fragments/expense :: container"></div>

    </div>

    <table class="table-fill" id="tableData" style="width: 70%; margin-top: 20px">
        <thead>
        <tr>
            <th th:text="#{ASSIGNMENT}"></th>
            <th th:text="#{REPORT.TOTAL}"></th>
            <th th:text="#{EXPENSE}"></th>
            <th th:text="#{STATUS}"></th>
        </tr>
        </thead>
        <tbody  class="table-hover">
        <tr th:if="${expenses.isEmpty()}" >
            <td colspan="9" th:text="#{NODATA}"></td>
        </tr>
        <tr th:if="${!assignment.expenses.isEmpty()}" th:each="assignment : ${assignments}">
            <td th:text="${assignment.name}"></td>
            <td th:text="${assignment.getSumOfPrice(current)}"></td>
            <td>
                <table style="margin-top: 0px">
                    <tr th:if="${expense.assignment.id == assignment.id}" th:each="expense : ${expenses}" style="margin: 0">
                        <td th:text="#{${expense.expenseType}}"></td>
                        <td th:text="${expense.price}"></td>
                        <td th:text="#{${expense.currency}}"></td>
                        <td th:text="${expense.getFileNames()}"></td>
                        <td>
                            <div class="actions">
                                <a th:href="@{/expenses/delete/{id}(id = ${expense.id})}" class="Delete" title="Delete" data-toggle="tooltip" th:data-longDescription = "#{USER.ACTION.CONFIRMATION}"><i class="far fa-trash-alt">&#xE5C9;</i></a>
                            </div>
                        </td>


                    </tr>
                </table>
            </td>

            <td style="width: 14%;">
                <div th:if="${ assignment.expenses.iterator().next().accepted== null}"  class="badge badge-warning ml-2" th:text="#{UNDERCONSIDERATION}" style="font-size: 16px"/>
                <div th:if="${assignment.expenses.iterator().next().accepted == true}"  class="badge badge-success ml-2" th:text="#{CONFIRMED}"/>
                <div th:if="${assignment.expenses.iterator().next().accepted == false}" class="badge badge-danger ml-2" th:text="#{REJECT}"/>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mt-30" style="margin-top: 30px;">
        <div th:replace="fragments/Pagination::pagination(${link})"></div>
    </div>
</div>
</body>
<script>
    var modal = $('#expenseDialog');

    var btn = $("#mbtn");

    var span = $(".close");

    $(document).ready(function(){
        btn.on('click', function() {
            modal.show();
        });

        span.on('click', function() {
            document.getElementById("expenseId").value = null;
            document.getElementById("expenseType").value = null
            document.getElementById("expenseAssignment").value = null
            document.getElementById("priceExpense").value = null
            document.getElementById("expenseCurrency").value = null
            document.getElementById("fileList").innerHTML=null
            modal.fadeOut();
        });
    });

    $('body').bind('click', function(e){
        if($(e.target).hasClass("modal")){
            modal.fadeOut();
        }
    });

    function addFileInput() {
        var container = document.getElementById("fileList");

        var fileInput = document.createElement("input");
        fileInput.type = "file";
        fileInput.name = "files";
        fileInput.multiple = true;

        var removeButton = document.createElement("button");
        removeButton.textContent = "x";
        removeButton.classList.add("remove-button");
        removeButton.addEventListener("click", function() {
            fileInput.remove();
            removeButton.remove();
        });

        container.appendChild(removeButton);
        container.appendChild(fileInput);
    }

    function handleFileSelect(event) {
        var files = event.target.files;
        var list = document.getElementById("fileList");

        for (var i = 0; i < files.length; i++) {
            var listItem = document.createElement("li");

            var removeButton = document.createElement("button");
            removeButton.textContent = "x";
            removeButton.classList.add("remove-button");
            removeButton.addEventListener("click", function() {
                listItem.parentNode.removeChild(listItem);
            });

            var fileSpan = document.createElement("span");
            fileSpan.textContent = files[i].name;

            listItem.appendChild(removeButton);
            listItem.appendChild(fileSpan);
            list.appendChild(listItem);
        }

        event.target.remove();
    }
</script>
</html>