<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<head th:replace="fragments/header" style="margin-top: 0px">

    <title th:text="#{USER.ADMIN}"></title>
</head>

<body  style="margin-top: 0px">

<div th:replace="fragments/menuTabs :: menuTabs"></div>





</body>

</html>
