<!DOCTYPE html>
<html lang="en">
<link th:href="@{/styles/login.css}" rel="stylesheet" />

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <header>
        <h1>
            <div class="div-3">

            </div>
        </h1>
    </header>
    <h1 class="text-center" th:text="#{LOGIN}"></h1>
    <form class="registration-form" action="#" th:action="@{/doLogin}" method="post">
        <label>
            <span class="label-text" th:text="#{USER.EMAIL}"></span>
            <input type="text" name="email">
        </label>
        <label class="password">
            <span class="label-text" th:text="#{USER.PASSWORD}"></span>
            <button class="toggle-visibility" title="toggle password visibility" tabindex="-1">
                <span class="glyphicon glyphicon-eye-close"></span>
            </button>
            <input type="password" name="password">
        </label>
        <div class="text-center">
            <button class="submit" name="register" th:text="#{LOGIN.BUTTON}"></button>
        </div>
    </form>
</div>
</body>
</html>