<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/styles/profile.css}" rel="stylesheet" />

<form >
    <head th:replace="fragments/header">
    <title th:text="#{USER.USERS}"></title>

</head>

<body style=" background:transparent">
<link th:href="@{/styles/report.css}" rel="stylesheet" />
<form th:action="@{/users}" th:object="${user}" method="get" enctype="multipart/form-data">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


        <div class="col-lg-3 col-md-5 col-sm-4" style="float:left;height: 100vh; width: 304px" >
            <div id="main" class="main-box clearfix">
                <h2 th:text="*{firstName + ' ' + lastName}" style="color: black; margin-left: 0"> </h2>

                <img th:if="${user.convertedImage}" id="profilePhoto" alt="" class="profile-img img-responsive center-block" th:src="@{'data:image/**;charset=utf-8;base64,'+ ${user.convertedImage}}"  width="auto" style="display: block; margin: auto;" />
                <img th:unless="${user.convertedImage}" id="default" alt="" class="profile-img img-responsive center-block" src="/image/icon.png" width="auto" style="display: block; margin: auto;"  />
                    <h3 th:text="*{position}" style="text-align: center;"></h3>


                <div class="row" style="width: 100%">
                    <div class="col-sm-12">
                        <h6 class="mb-0 align-center" th:text="#{USER.HIRED}"></h6>
                        <div th:text="*{hired}"></div>
                        <hr>

                    </div>
                    <div class="col-sm-12">
                        <h6 class="mb-0 align-center" th:text="#{USER.VACATION.TAKEN} + ' ' + *{takenVacations}">
                        </h6>
                        <h6 class="mb-0 align-center" th:text="#{USER.TAKEN.ATOWNEXPENSE} + ' ' + *{vacationsAtOwnExpense}"></h6>
                        <h6 class="mb-0 align-center" th:text="#{LEFT} + ' ' + *{vacationDays}"></h6>
                        <hr>

                    </div>

                    <div class="col-sm-12">
                        <h6 class="mb-0 align-center" th:text="#{USER.SICKLEAVE.TAKEN} + ' ' + *{takenSickLeaves}">
                        </h6>
                        <h6 class="mb-0 align-center" th:text="#{USER.TAKEN.ATOWNEXPENSE} + ' ' + *{sickLeavesAtOwnExpense}"></h6>
                        <h6 class="mb-0 align-center" th:text="#{LEFT} + ' ' + *{sickleaveDays}"></h6>
                        <hr>

                    </div>
                </div>

                <div class="profile-details">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-tasks"></i><h6 th:text="#{TASKS.DONE} + ' ' + *{tasks.size()}"></h6></li>
                    </ul>
                </div>


                <a th:href="@{/admin/users/{id}(id = *{id})}" class="btn btn-primary edit-profile" style="background-color: black; margin: auto; display: block; text-align: center; top: 20px">
                    <i class="fa fa-pencil-square fa-lg" th:text="#{USER.EDIT}" style="width: auto; height: auto; display: inline-block;"></i>
                </a>
                <div class="profile-message-btn center-block text-center" style="margin-top: 12px;">
                    <a onclick="openNewTask()" class="btn btn-success" th:text="#{ADD.TASK}" style="background-color: #8458B3">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div th:replace="fragments/task :: container"></div>
                </div>
            </div>

        </div>
    <div th:replace="fragments/menuTabs::profileTabs(${user.id})"></div>
        <div class="col-lg-9 col-md-8 col-sm-8" style="float:left; margin-top: 0">
            <div class="container" style="display: flex;margin-top: 10px">
                <div class="container" style=" display: flex;
            flex-direction: column; margin-top: 5px">
            <div class="main-box clearfix" id="info-user" style="height:320px ">
                <div class="profile-header">

                </div>

                <h3 width="100%"><span th:text="#{USER.INFO}" width="100%"></span></h3>
                <hr style="width: auto">
                <div class="row profile-user-info" style="width: 100%;">
                    <div class="col-sm-8 w-100 ml-4" style="width: 540px">

                        <div class="row" style="width: 540px">
                            <div class="col-sm-4" >
                                <h6 class="mb-0" th:text="#{USER.BIRTH}"></h6>
                            </div>
                            <div class="col-sm-6 text-secondary" style="width: 200px" th:text="*{birth}">

                            </div>
                        </div>
                        <hr style="width: auto">


                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0" th:text="#{USER.PHONENUMBER}"></h6>
                            </div>
                            <div class="col-sm-4 text-secondary" th:text="*{phoneNumber}">

                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0" th:text="#{USER.EMAIL}"></h6>
                            </div>
                            <div class="col-sm-4 text-secondary" th:text="*{email}">

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0" th:text="#{USER.SALARYPERHOUR}"></h6>
                            </div>
                            <div class="col-sm-4 text-secondary" th:text="*{salaryPerHour}">

                            </div>
                        </div>
                        <hr>


                    </div>

                </div>
            </div>

                    <div class="main-box clearfix" id="info-bankdata" >
                        <h3><span th:text="#{USER.BANK.DATA}"></span></h3>
                        <hr style="width: auto">
                        <div class="row profile-user-info">
                            <div class="col-sm-11">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0" th:text="#{USER.SALARYPERHOUR}"></h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary" th:text="${user.salaryPerHour} + ' ' + #{${user.currency}}">

                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0" th:text="#{USER.TAXNUMBER}"></h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary" th:text="*{taxNumber}">

                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0" th:text="#{USER.ACCOUNT}"></h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary" th:text="*{account}">

                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0" th:text="#{USER.BENEFICIARYBANK}"></h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary" th:text="*{beneficiaryBank}">

                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0" th:text="#{USER.SWIFTCODE}"></h6>
                                    </div>
                                    <div class="col-sm-6 text-secondary" th:text="*{swiftCode}">

                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>

                    </div>



        </div>
                <div class="main-box clearfix" id="info-address" >
                    <h3><span th:text="#{USER.ADDRESS}"></span></h3>
                    <hr style="width: auto">
                    <div class="row profile-user-info">
                        <div class="col-sm-11">

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0" th:text="#{USER.COUNTRY}"></h6>
                                </div>
                                <div class="col-sm-4 text-secondary" th:text="*{country}">

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0" th:text="#{USER.CITY}"></h6>
                                </div>
                                <div class="col-sm-4 text-secondary" th:text="*{city}">

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0" th:text="#{USER.STREET}"></h6>
                                </div>
                                <div class="col-sm-4 text-secondary" th:text="*{street}">

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0" th:text="#{USER.HOUSENUMBER}"></h6>
                                </div>
                                <div class="col-sm-4 text-secondary" th:text="*{houseNumber}">

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0" th:text="#{USER.POSTCODE}"></h6>
                                </div>
                                <div class="col-sm-4 text-secondary" th:text="*{postCode}">

                                </div>
                            </div>
                            <hr>
                        </div>

                    </div>

                </div>
            </div>

        </div>

</div>

</form>

</body>
</form>
</html>