<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link th:href="@{/styles/vacations.css}" rel="stylesheet" />
<link th:href="@{/styles/reportPopUp.css}" rel="stylesheet" />
<link th:href="@{/styles/pagination.css}" rel="stylesheet" />


<script th:src="@{/js/checkDates.js}" type="text/javascript"></script>
<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/modalDialogAction.js}" type="text/javascript"></script>


<head th:replace="fragments/header" th:object="${current}">
    <meta charset="UTF-8">
    <title>Vacation</title>
</head>

<body style="background-color: transparent">

<div id="content2" >


    <div class="col-lg-12" >
        <div class="main-box clearfix">
            <div class="table-responsive" >
                <div class="container mt-3 mb-3" style="display: flex;
  justify-content: center">

                    <button class="button-34" role="button" th:text="#{USER.APPLY.SICKLEAVE}" onclick="openModalToSaveSickLeave()"></button>
                    <div th:replace="fragments/sickLeave :: container(${sickleave})"></div>

                </div>


                <table class="table user-list" width="100%">

                    <thead>
                    <tr style="background-color: white">
                        <th th:text="#{VACATION.CREATED}"><span></span></th>
                        <th th:text="#{VACATION.BEGIN}"><span></span></th>
                        <th th:text="#{VACATION.END}"><span></span></th>
                        <th th:text="#{AMOUNTOfDAYS}"><span></span></th>
                        <th th:text="#{REPORT.DESCRIPTION}"><span></span></th>
                        <th th:text="#{VACATION.ATOWNEXPENSE}"><span></span></th>
                        <th  th:text="#{STATUS}"><span></span></th>
                        <th  th:text="#{COMMENTLEFT}"><span></span></th>
                        <th  th:text="#{CHECKER}"><span></span></th>
                        <th  th:text="#{CERTIFICATE}"><span></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${sickleaves.isEmpty()}" >
                        <td colspan="10" th:text="#{NODATA}"></td>
                    </tr>
                    <tr th:if="${!sickleaves.isEmpty()}" th:each="s : ${sickleaves}">
                        <td th:text="${s.fullCreatedTime()}">
                        </td>
                        <td th:field="${s.begin}" th:text="${s.begin}" >
                        </td>
                        <td th:field="${s.end}" th:text="${s.end}">
                        </td>
                        <td th:field="${s.amountOfDays}" th:text="${s.amountOfDays}">
                        </td>
                        <td  th:field="${s.description}" th:text="${s.description}">
                        </td>
                        <td th:field="${s.atOwnExpense}" th:text="#{${s.atOwnExpense}}">
                        </td>

                        <td style="width: 14%;">
                            <div th:if="${s.confirmed == null}"  class="badge badge-warning ml-2" th:text="#{UNDERCONSIDERATION}"/>
                            <div th:if="${s.confirmed}"  class="badge badge-success ml-2" th:text="#{CONFIRMED}"/>
                            <div th:if="${s.confirmed != null && !s.confirmed}" class="badge badge-danger ml-2" th:text="#{REJECT}"/>
                        </td>

                        <td th:field="${s.comment}" th:text="${s.comment}">
                        </td>
                        <td th:field="${s.checkedByUser}" th:text="${s.checkedByUser}">
                        </td>

                        <td th:if="${s.certificate_url}" th:text="${s.end}">
                        </td>
                        <td th:unless="${s.certificate_url}" th:if="${s.confirmed}">
                            <a th:text="#{ADD.CERTIFICATE}"  th:data-sickleave-id="${s.id}" onclick="uploadCertification(this.getAttribute('data-sickleave-id'))"></a>
                            <div th:replace="fragments/certificate :: container"></div>
                        </td>
                        <td unless>
                        </td>
                    </tr>

                    </tbody>
                    </tr>
                </table>


            </div>
        </div>
    </div>
    <div th:if="${!sickleaves.isEmpty()}" >
    <div  th:replace="fragments/Pagination::pagination('/sickleaves')"></div>
</div>
</div>
<script>
    var modal = $('#certficateDialog');

    var span = $("#clsCertif");

function uploadCertification(id) {

    document.getElementById('inputCertificate').action = "/sickleave/certificate/"+id
    modal.show();


    span.on('click', function () {
        document.getElementById('inputCertificate').action = null;
        document.getElementById("cert").innerHTML = null
        modal.fadeOut();
    });
}

    $('body').bind('click', function(e){
        if($(e.target).hasClass("modal")){
            modal.fadeOut();
        }
    });



</script>
</body>

</html>