<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/styles/user.css}" rel="stylesheet" />
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>

<head th:replace="fragments/header">
    <title th:text="#{USER.ADMIN}"></title>

</head>



<body>

<form th:action="@{/admin/users}" th:object="${user}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" id="img" type="file" th:field="*{imageUrl}"/>

    <script th:inline="javascript">function verifyPassword(errorMessage) {
        var pw = document.getElementById("passwordNew").value;
        var pR = document.getElementById("passwordRepeat").value;
        if(pw !== pR) {
            document.getElementById("message").innerHTML = errorMessage;
            return false;
        }
        else {
           document.getElementById("saveButton").setAttribute('type', 'submit');


        }
    }  </script>
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header center" th:text = "#{USER.PHOTO}" ></div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img th:if="${user.convertedImage}" id="profileImageForm" width="150" height="150" class="rounded-circle" th:src="@{'data:image/**;charset=utf-8;base64,'+ ${user.convertedImage}}" alt="profile Image" />
                    <img th:unless="${user.convertedImage}" id="defaultForm" width="150" height="150"  class="rounded-circle" src="/image/icon.png" alt="profile Image" />
                    <div class="form-group row">
                        <label for="image" class="col-sm-2 col-form-label"/>
                        <div class="col-sm-5">
                            <input type="file" id="image" name="image" onchange="loadFile(event)"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header" th:text="#{USER.REGISTRATION}"></div>
                <div class="card-body">
                    <form>
                        <input id="userid" class="form-control"  type="text" th:field="*{id}" hidden>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6 ">
                                <label class="small mb-1"  th:text = "#{USER.FIRSTNAME}"></label>
                                <input id="firstName" class="form-control"  type="text" th:field="*{firstName}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.LASTNAME}"></label>
                                <input id="lastName" class="form-control" type="text" th:field="*{lastName}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.PATRONYMIC}"></label>
                                <input id="patronymic" class="form-control"  type="text" th:field="*{patronymic}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.TAXNUMBER}"></label>
                                <input id="taxNumber" class="form-control"  type="text" th:field="*{taxNumber}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('taxNumber')}" th:errors="*{taxNumber}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.BIRTH}"></label>
                                <input id="birth" class="form-control"  type="date" th:field="*{birth}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.HIRED}"></label>
                                <input id="hired" class="form-control"  type="date" th:field="*{hired}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('hired')}" th:errors="*{hired}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.PHONENUMBER}"></label>
                                <input id="phoneNumber" class="form-control"  type="tel" th:field="*{phoneNumber}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.POSITION}"></label>
                                <input id="position" class="form-control" type="text" th:field="*{position}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.VACATIONS.AMOUNT}"></label>
                                <input id="vacationDays" class="form-control" type="text" th:field="*{vacationDays}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('vacationDays')}" th:errors="*{vacationDays}" >
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.SICKLEAVE.AMOUNT}"></label>
                                <input id="sickleaveDays" class="form-control" type="text" th:field="*{sickleaveDays}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('sickleaveDays')}" th:errors="*{sickleaveDays}" >
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" th:text = "#{USER.SALARYPERHOUR}"></label>
                                <input id="salaryPerHour" class="form-control" type="text" th:field="*{salaryPerHour}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('salaryPerHour')}" th:errors="*{salaryPerHour}" >
                            </div>

                            <select name="currency" id="currency"  th:field="*{currency}" style="height: 30px; margin-top: 25px">
                                <option value="" disabled></option>
                                <option th:each="cur : ${T(obniavka.timemanagment.data.ExpenseType).values()}"  th:value="${cur}" th:text="#{${cur}}"></option>
                            </select>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}" >

                        </div>
                        <label class="radio-label" th:text = "#{USER.ROLE}"></label>
                        <div class="form-radio" id="role" style="display: -webkit-flex;.form-radio { margin-bottom: 18px;}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" th:value="ROLE_USER" th:field="*{role}">
                                <label class="form-check-label" for="inlineRadio1" th:text="#{USER.ROLE.OPTION1}"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" th:value="ROLE_ADMIN" th:field="*{role}">
                                <label class="form-check-label" for="inlineRadio2" th:text="#{USER.ROLE.OPTION2}"></label>
                            </div>

                        </div>
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}" >

                        <!-- Form Row        -->
                        <div class="card-header mt-3" th:text="#{USER.ADDRESS}"></div>
                        <div class="row gx-3 mb-3">

                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.COUNTRY}"></label>
                                <input class="form-control"  id="country" type="text" th:field="*{country}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}" >
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.CITY}"></label>
                                <input class="form-control" id="city" type="text" th:field="*{city}" >
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" >
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.STREET}"></label>
                                <input class="form-control" id="street" type="text" th:field="*{street}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}" >
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.HOUSENUMBER}"></label>
                                <input class="form-control" id="houseNumber" type="text" th:field="*{houseNumber}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}" >
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.POSTCODE}"></label>
                                <input class="form-control" id="postCode" type="text" th:field="*{postCode}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}" >
                            </div>
                        </div>

                        <div class="card-header mt-3" th:text="#{USER.BANK.DATA}"></div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.ACCOUNT}"></label>
                                <input class="form-control" id="account" type="text" th:field="*{account}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.BENEFICIARYBANK}"></label>
                                <input class="form-control" id="beneficiaryBank" type="text" th:field="*{beneficiaryBank}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('beneficiaryBank')}" th:errors="*{beneficiaryBank}" >
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" th:text="#{USER.SWIFTCODE}"></label>
                                <input class="form-control" id="swiftCode" type="text" th:field="*{swiftCode}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('swiftCode')}" th:errors="*{swiftCode}" >
                            </div>
                        </div>
                            <!-- Form Group (email address)-->
                        <div class="card-header mt-3" th:text="#{USER.SIGNIN.DATA}"></div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                            <label class="small mb-1" th:text="#{USER.EMAIL}"></label>
                            <input class="form-control" id="email" type="email" th:field="*{email}">
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >
                                <p class="alert alert-danger" th:if="${doesExist}" th:text="#{USER.EMAIL.ALREADYEXIST}" >
                            </div>

                            <tr th:if="${user.id}">
                                <div class="col-md-6 box">
                                    <a class="button" href="#popup1" th:text="#{USER.CHANGEPASSWORD}"></a>

                                </div>


                                <form>
                                    <div id="popup1" class="overlay">
                                        <div class="popup">
                                            <a class="close" href="#">&times;</a>
                                            <div class="content">

                                                <!-- Enter Password -->
                                                <div class="card-header" th:text="#{USER.CHANGEPASSWORD}"></div>
                                                <div class="col-md-6 mt-4">
                                                    <ul  class="list-unstyled" style="width: 200px">
                                                        <li><input type="password" id="passwordNew" class="fadeIn second" th:placeholder="#{USER.PASSWORD}" ></li>
                                                        <li><input type="password" id="passwordRepeat" class="fadeIn third" th:field="*{password}"  th:placeholder="#{USER.REPEAT.PASSWORD}">
                                                            <span id = "message" style="color:red"> </span> <br><br>
                                                        </li>
                                                        <li><div>
                                                            <input type="button" id="saveButton" th:value="#{USER.CONFIRM}" th:data-longDescription = "#{ALERT.DONOTMATCH}" onclick="return verifyPassword(this.getAttribute('data-longDescription'))">
                                                        </div>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </tr>
                            <tr th:unless="${user.id}" class="mt-2">
                                <div class="col-md-6">
                                    <label class="small mb-1" th:text="#{USER.PASSWORD}"></label>
                                    <input  class="form-control" id="password" type="password" th:field="*{password}" >
                                    <p class="alert alert-danger"th:if="${#fields.hasGlobalErrors()}" th:errors="*{password}" th:field="*{password}">
                                </div>
                            </tr>
                        </div>
                        <!-- Save changes button-->
                        <input  class="btn btn-primary" type="submit" th:value="#{USER.SAVE}" th:href="@{/admin/users}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>>


    <style>



    .box {
        width: 40%;
        margin: 0 auto;
        background: rgba(255,255,255,0.2);
        justify-content: center;
        padding: 35px;
        border: 2px solid #fff;
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
    }
.content{
    justify-content: center;
}
    .button {
        background-color: #4CAF50; /* Green */
        margin-top: 0px;
        width: 200px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .button:hover {
        background: #06D85F;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 350px;
        position: relative;
        transition: all 5s ease-in-out;
    }

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

    @media screen and (max-width: 700px){
        .box{
            width: 70%;
        }
        .popup{
            width: 70%;
        }
    }</style>
</form>
</body>


</html>