<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header" th:object="${current}">
    <meta charset="UTF-8">
    <title>Vacation</title>
</head>

<body  style="margin-top: 0px">

<div id="content2" style="margin-left: 30px;margin-top:5px;height: 89vh;">


    <div class="col-lg-12" >
        <div class="main-box clearfix">
            <div class="table-responsive" >
                <div class="container mb-2" style="display: flex;
  justify-content: center">

                    <button class="button-34" role="button" th:text="#{VACATION.APPLY}" onclick="openModalToSaveVacation()"></button>
                    <div th:replace="fragments/vacation :: container(${vacation})"></div>

                </div>
                <table class="table user-list" width="100%">

                    <thead>
                    <tr style="background-color: white">
                        <th th:text="#{VACATION.CREATED}"><span></span></th>
                        <th th:text="#{VACATION.BEGIN}"><span></span></th>
                        <th th:text="#{VACATION.END}"><span></span></th>
                        <th th:text="#{AMOUNTOfDAYS}"><span></span></th>
                        <th th:text="#{VACATION.ATOWNEXPENSE}"><span></span></th>
                        <th  th:text="#{STATUS}"><span></span></th>
                        <th  th:text="#{COMMENTLEFT}"><span></span></th>
                        <th  th:text="#{CHECKER}"><span></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${vacations.isEmpty()}" >
                        <td colspan="8" th:text="#{NODATA}"></td>
                    </tr>
                    <tr th:each="v : ${vacations}">
                        <td th:field="${v.created}" th:text="${v.created}">
                        </td>
                        <td th:field="${v.begin}" th:text="${v.begin}" >
                        </td>
                        <td th:field="${v.end}" th:text="${v.end}">
                        </td>
                        <td id="vacationAmountOfDays" th:field="${v.amountOfDays}" th:text="${v.amountOfDays}">
                        </td>
                        <td th:field="${v.atOwnExpense}" th:text="#{${v.atOwnExpense}}">
                        </td>

                        <td style="width: 14%;">
                            <div th:if="${v.confirmed == null}"  class="badge badge-warning ml-2" th:text="#{UNDERCONSIDERATION}"/>
                            <div th:if="${v.confirmed}"  class="badge badge-success ml-2" th:text="#{CONFIRMED}"/>
                            <div th:if="${v.confirmed != null && !v.confirmed}" class="badge badge-danger ml-2" th:text="#{REJECT}"/>
                        </td>

                        <td th:field="${v.comment}" th:text="${v.comment}">
                        </td>
                        <td th:field="${v.checkedByUser}" th:text="${v.checkedByUser}">
                        </td>
                    </tr>

                    </tbody>
                    </tr>
                </table>


            </div>
        </div>
    </div>
    <div th:replace="fragments/Pagination::pagination('/vacations')"></div>
</div>

</body>

</html>